* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }
body {
  background: #2e2e2e;
  color: #fff;
  font-family: sans-serif;
  margin-bottom: 30px;
  justify-content: flex-start !important;
  width: 2250px
}

#root { padding: 0 15px; font-size: 16px;  }
#root svg { width: 75px; margin-right: 38.5px }

#root svg text, #root .foreign-object p {
  pointer-events: none;
  text-anchor: middle;
  font-size: 100px;
  font-weight: bold;
  fill: black;
  alignment-baseline: middle;
}

#root .text text, #root .text p {
  pointer-events: auto;
}


#root .row:nth-child(1n+2) {
  margin-top: -38px;
}
#root .row:nth-child(odd) {
  margin-left: 57px;
}


#root .umbrella {
  z-index: 10;
  position: relative;
}

#root .umbrella polygon, #root .umbrella path {
  transition: fill 0.5s, stroke 0.5s;
}

#demo .umbrella path {
  pointer-events: none;
}
